.container {
    max-width: 850px;
    margin: 0 auto;
    padding: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
}

#gradesList{
    background-color: purple;
    border-radius: 10px;
    padding: 20px 20px;
}
.grade-item {
    list-style-type: none;
    margin: 10px 0;
    background-color: silver;
    padding: 10px;
    text-align: center;
}

label, input {
    display: block;
    width: 50%
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
}

.header {
    margin-bottom: 50px;
    text-align: center;
    border: 10px purple}

button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
}